@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

/* body {

  background-color: ;
} */
.container-fluid {
  background-color:rgba(128, 123, 123, 0.76);
}
  
h1 {
  text-align: center;
  color:rgb(94, 91, 91);
  font-family:'Frijole', cursive;
}

#bg-img{
  background: url('../images/Masai2.jpg'); 
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}

a.nav-link:hover{
  background-color: darkgoldenrod;
}