body{
    /* padding: 0;
    margin: 0;   */
   background-color: rgb(173, 173, 173);
   /* background-image: coffee.png; */
  
  
}

.nav-items{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 10px 0 50 0;
    background-color: rgb(145, 145, 145);
}

#title{
    text-align: center;
    background-color:#635a5a;
    color: rgb(145, 135, 44);
    margin: auto;
    padding: 20px;
    font: 70px'Montserrat', sans-serif;
    flex-wrap: wrap;
    border-style: solid;

}

#nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: right;
    border-style: solid;
    color: rgb(37, 24, 24);
   
}

#nav-links a {
    /* text-align:right; */
    text-decoration: none;
    padding: 10px 10px
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: "Raleway", sans-serif;
    color: rgb(175, 71, 71);
    text-align: center;
    flex-wrap: wrap;
    border: 0.5px solid red;
 
}
    
    


